.container {
    margin: 2em 5em;
}

.form {
    margin: 3em auto;
    width: 30vw;
}

.breadcrumb li {
    display: inline;
    font-size: 16px;
    color: var(--light-blue);
}

.breadcrumb li+li:before {
    color: var(--light-blue);
    content: ">";
    padding: 8px;
}

.breadcrumb__page {
    font-weight: 700;
}

.form__container {
    margin: 3em 0;
    text-align: center;
}

.input-container {
    margin-bottom: 2em;
}

.form__title {
    margin: 1em 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;
}

.form__label {
    font-weight: 500;
    line-height: 20px;
}

.form__input {
    display: block;
    border: 2px solid var(--light-blue);
    border-radius: 20px;
    width: 100%;
    padding: 1em;
    margin-top: .5em;

}

.form__input--small {
    width: 50%;
}

.terms__text {
    line-height: 20px;
    display: inline;
}

.form__button,
.camera__button {
    background: var(--light-blue);
    margin: 2em auto;
    display: block;
    border: none;
    padding: 1em 4em;
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: var(--white);
}

.form__img {
    display: block;
    margin: 2em auto;
}

.form__img--hidden {
    display: none;
}

.form__button--a {
    text-decoration: none;
    width: 50%;
}

.form__text {
    margin: 1em 8em;
}

.form__text--bold {
    font-weight: 700;
}

.form__text-secondary {
    margin: 2em 6em;
}

.message-error {
    color: red;
}

.form__input--error {
    border: 2px solid red;
}

.form__message,
.form__camera {
    display: none;
}

.form__message--success,
.form__camera--show {
    display: block;
}

@media screen and (max-width: 900px) {
    .form {
        width: 70%;
    }

    .steps {
        width: 100%;
    }

    .form__text {
        margin: 0;
    }

    .container {
        margin: 2em;
    }
}